body {
  box-sizing: border-box;
  font-family: "Montserrat", serif;
  margin: 0;
  border: 0;
  overflow-x: hidden;
}

::-webkit-scrollbar {
  width: 10px;
}

/* Track */
::-webkit-scrollbar-track {
  border-radius: 10px;
}

/* Handle */
::-webkit-scrollbar-thumb {
  background: #f57373;
  border-radius: 2px;
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
  background: #b30000;
}

#content {
	width: 50vw;
	margin: auto;
	background-color: white;
}

h1, h2, h3, h4 {
    color: red;
}

.image {
	max-width: 90vw;
}

.vuelveButton {
		border-radius: 2px;
    background-color:white;
    border:2px solid rgb(200, 0, 0, 0.8);
		color: rgb(200, 0, 0, 0.8);
    margin:none;
    padding:10px 20px;
    -webkit-transition-duration: 0.4s; /* Safari */
    transition-duration: 0.4s;"
		font-family: Roboto, sans;
		font-size: 15px;
}

.vuelveButton:hover {
    background-color: red;
    color: white;
}

@media screen and (max-width:800px) { #content { font-size: 20px; } }
@media screen and (max-width:700px) {
#content { font-size: 17px; width:93vw; margin-left: 10px; margin-right: 10px;}
#header { font-size: 30px; margin-left: 10px; margin-right: 10px; } }
@media screen and (max-width:600px) { #content { font-size: 16px; } }
@media screen and (max-width:500px) { #content { font-size: 13px; }  #header { font-size:20px }}
@media screen and (max-width:400px) { #content { font-size: 12px; } }
