body {
	box-sizing: border-box;
  font-family: "Montserrat", serif;
  margin: 0;
  border: 0;
  overflow-x: hidden;
}

#header {
	background-color: white;
	margin-top: 0;
	position: fixed;
	top: 0;
	width: 100%;
	box-shadow: 0 5px 5px rgba(0,0,0,0.12), 0 1px 2px rgba(0,0,0,0.24);
	z-index: 1;
}


#redmedic {
	color: #E60026;
	font-size: 60px;
	font-family: "Cormorant Garamond", "Montserrat";
	margin-left: 10px;
	font-weight: bold;
	text-decoration: none;
}

#nombre {
	color: #E60026;
	font-size: 40px;
}

canvas {
  display: block;
  position: absolute;
  top: 50;
  left: 0;
  z-index: 0;
}

#inicio {
	width: 100vw;
	height: 100vh;
	background-color: white;
	position: fixed;
}

#content {
	position: relative;
	width: 80vw;
	margin: auto;
	background-color: white;
	top: 100px;
	box-shadow: 5px 5px 5px rgba(0,0,0,0.25), 0 1px 2px rgba(0,0,0,0.50);
}

.apartado {
	margin: 30px 5% 10px 5%;
	margin: auto,
}

.vuelveButton {
		border-radius: 2px;
    background-color:white;
    border:2px solid rgb(200, 0, 0, 0.8);
		color: rgb(200, 0, 0, 0.8);
    margin:none;
    padding:15px 30px;
    -webkit-transition-duration: 0.4s; /* Safari */
    transition-duration: 0.4s;"
		font-family: Roboto, sans;
		font-size: 20px;
}

.vuelveButton:hover {
    background-color: red;
    color: white;
}

@media screen and (max-width:700px) {
	#content {
		top: 150px;
		width: 100vw;
	}
}

@media screen and (max-width:400px) {
	#content {
		top: 200px;
		font-size: 12px;
		width: 100vw;
	}
}
