* {
  box-sizing: border-box;
  font-family: "Montserrat", serif;
  margin: 0;
  border: 0;
  overflow-x: hidden;
}

canvas {
  display: block;
  position: absolute;
  top: 0;
  left: 0;
  z-index: 0;
}

::-webkit-scrollbar {
  width: 10px;
}

/* Track */
::-webkit-scrollbar-track {
  border-radius: 10px;
}

/* Handle */
::-webkit-scrollbar-thumb {
  background: #f57373;
  border-radius: 2px;
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
  background: #b30000;
}


#inicio {
  width: 100vw;
  text-align: center;
  height: 1050px;
}

#titulo {
	margin-top: 40px;
  font-size: 60px;
  color: red;
  overflow-x: hidden;
}

#titulo h1 {
  font-family: 'Cormorant Garamond', 'Montserrat', serif;
	-webkit-text-stroke-width: 3px;
}

.bandera {
	opacity: 0.8;
	cursor: pointer;
	width: 60px;
	height: 60px;
	margin-left: 10px;
}

.bandera:hover {
	opacity: 1.0;
	transition: 1s;
}

#expli {
  font-size: 25px;
  color: red;
  width: 70%;
  margin: auto;
  margin-top: 20px;
}

#poder {
	font-size: 40px;
	white-space: pre-line;
}

#images {
	height: 500px;
	margin-top: 50px;
}

.image-span {
	position: absolute;
	border: 1px solid white;
	border-radius: 8px;
	width: 60vw;
	box-shadow: 0px 3px 39px 0px rgba(0,0,0,0.75);
}

.image {
	display: block;
	width: 100%;
}

.row {
  background-color: #E60026;
  color: #fff;
  text-align: center;
  justify-content: center;
  padding: 40px 20px;
}

.column {
  float: left;
  width: 33.33%;
  padding: 25px 20px;
}

.row:after {
  content: "";
  display: table;
  clear: both;
}

.tabla {
  height: 340px;
  overflow: hidden;
	border: 1px solid red;
}

.tabla:hover {
	border: 2px solid red;
}

.tabla:hover > h2 {
	text-decoration: underline;
}

.github {
	cursor: pointer;
	width: 30px;
	height: 30px;
	border-radius: 10px;
}

.github:hover {
	opacity: 1.0;
	box-shadow: 4px 15px 20px rgba(10, 10, 10, 0.4);
	transition: 1s;
}

.button {
  padding: 20px 20px;
  text-decoration: none;
  color: #fff;
  border: 1px solid #fff;
  margin-top: 20px;
}

.button:hover {
  color: #E60026;
  background-color: #fff;
  border: 1px solid #E60026;
	transition: 1s;
}

@media screen and (max-width:1200px) {
	#inicio {
		height: 850px;
	}
}

@media screen and (max-width:1100px) {
	#inicio {
		height: 800px;
	}
}

/* Ipad */
@media screen and (max-width:1000px) {
  .column {
    width: 100%;
  }

	#titulo {
		font-size: 40px;
	}

	.tabla {
			border: none;
			border-bottom: 2px dotted red;
	}

	#inicio {
		height: 750px;
	}

	#expli {
		font-size: 2vw;
	}
}

@media screen and (max-width:900px) {
	#inicio {
		height: 680px;
	}
}

@media screen and (max-width:800px) {
	#inicio {
		height: 650px;
	}
}


@media screen and (max-width:600px) {
	#inicio {
		height: 550px;
	}
}

@media screen and (max-width:600px) {
	#inicio {
		height: 500px;
	}
}

@media screen and (max-width:500px) {
	#titulo {
		font-size: 25px;
	}

	#inicio {
		height: 420px;
	}
	#expli {
		font-size: 15px;
	}
}

@media screen and (max-width:401px) {
	#inicio {
		height: 410px;
	}
}
