* {
  box-sizing: border-box;
  font-family: "Montserrat", serif;
  margin: 0;
  border: 0;
  overflow-x: hidden;
}

canvas {
  display: block;
  position: absolute;
  top: 0;
  left: 0;
  z-index: 0;
}

#inicio {
  width: 100vw;
  height: 100vh;
  text-align: center;
}

#titulo {
  font-size: 80px;
  color: red;
  padding: 20vh 0 0 0;
  overflow-x: hidden;
}

#titulo h1 {
  font-family: 'Cormorant Garamond', 'Montserrat', serif;
}

#expli {
  font-size: 40px;
  color: red;
  padding: 0 0 25vh 0;
}



.row {
  background-color: #E60026;
  color: #fff;
  text-align: center;
  justify-content: center;
  padding: 40px 20px;
}

.column {
  float: left;
  width: 33.33%;
  padding: 25px 20px;
}

.tabla {
  height: 280px;
}

.row:after {
  content: "";
  display: table;
  clear: both;
}

.button {
  padding: 20px 20px;
  text-decoration: none;
  color: #fff;
  border: 1px solid #fff;
  margin-top: 20px;
}

.button:hover {
  color: #E60026;
  background-color: #fff;
  border: 1px solid #E60026;
}

@media screen and (max-width:800px) {
  .column {
    width: 50%;
  }
  #titulo {
    font-size: 40px;
  }
  #expli {
    font-size: 30px;
  }
}

@media screen and (max-width:600px) {
  .column {
    width: 100%;
  }
  #titulo {
    font-size: 40px;
  }
  #expli {
    font-size: 30px;
  }
}
